:root{
  --color-dominante: #0D0D0D;
  --color-predominante: #D9CDBF;
  --color-segundario: #BF9B7A;
  --color-accion: #D93223;
}

*:not(before, after){box-sizing: border-box;}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  margin-left: 40px;
  text-align: justify;
  overflow-x: hidden;
}
*{
  scroll-behavior: smooth;
}

/* menu hmburguesa */

#menu-burger{
  height: 21px;
  width: 26px;
  display:flex;
  justify-content: space-around;
  cursor: pointer;
  overflow: hidden;
  transition: all 5s;
}

#burger-raya-1 div:first-child,#burger-raya-3 div:last-child{
  height: 3px;
  width: 3px;
  transition: all 2.5s;
}

#burger-raya-1 div:last-child,#burger-raya-3 div:first-child{
  height: 3px;
  width: 15px;
  transition: all 2.5s;
  background: var(--color-accion);
}

#burger-raya-2{
  width: 26px;
  height: 3px;
  transition: all 2.5s;
}

#menu:checked ~ nav{
  left: 0;
}

#menu:checked ~ nav #burger-raya-2{
  transform: rotate(30deg);
  width:px;
}

#menu:checked ~ nav #burger-raya-1 div:last-child,#menu:checked ~ nav #burger-raya-3 div:first-child{
  transform: rotate(330deg) translateY(-1px) ;
  width: 33px;
}

#menu:checked ~ nav #burger-raya-1 div:last-child{
  transform:rotate(330deg) translateY(1px);
}

#menu:checked ~ nav #burger-raya-1 div:first-child{
  transform: translateY(9px);
  width: 3px;
  border-radius: 100%;
}

#menu:checked ~ nav #burger-raya-3 div:last-child{
  transform: translateY(-8px);
  width: 3px;
  border-radius: 100%;
}

/* menu de navegacion */

#navbar{
  position: fixed;
  padding-block: 1%;
  width: 180px;
  height:100%;
  z-index: 2;
  left: -140px;
  transition: .5s;
  top:0;
  background: var(--color-segundario);
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

[type="checkbox"]{display:none}

nav > div:first-child{
  width: 165px;
}

nav a div{
  width: 155px;
  height: 35px;
}
nav a > div{
  position: relative;
}
nav a{
  color: var(--color-dominante);
  font-size: 19px;
}

nav p{
  font-weight: 500;
}

.efecto{
  position: absolute;
  overflow: hidden;
  margin-top: -35px;
  
}
.efecto *{
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  color: var(--color-accion);
  transition: clip-path .5s linear;
}

.efecto:hover p{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.efecto:hover i{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}



/* Seccion de bienvenida */

#welcome-section{
  height: 100vh;
  margin-left: 30px;
}

#welcome-section .coqueta{
  margin-left: -30px;
  font-size: 20px;
}

#welcome-section div a{
  width: 50px;
  height: 50px;
  background: var(--color-accion);
  color: var(--color-segundario);
  padding-inline: 5px;
  font-weight: 900;
}

h1{
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: max(5vw, 25px);
}

/* Sobre mi*/

#sobre-mi{
  min-height: 100vh;
  padding-block: 60px;
}

#sobre-mi .img{
  position: relative;
  width: 70%;
  margin-left: auto;
  overflow: hidden;
  border-radius: 0% 140% 100% 100%;
  position: relative;
  z-index: 1;
  background: linear-gradient(139deg, transparent 35%, var(--color-dominante) 35%);
}

#sobre-mi img{
  padding-inline: 40px;
  margin-bottom: -5px;
}

#sobre-mi  div{
  min-width: 300px;
}

#sobre-mi h2{
  margin-left: 5%;
  margin-bottom: 60px;
}


/* contacto */

#contacto{
  min-height: 100vh;
}


form{
  margin-inline: auto;
  width: 100%;
}

input, textarea, button{
  background: var(--color-segundario);
  padding: 10px;

  border: none;
  margin-top: 2px;
  margin-bottom: 1rem;
}

button{
  max-width: 140px;
  width: 40%;
  margin-inline: auto;
  font-size: 20px;
  padding: 4px;
  font-weight: 200;
}

/* section projectos*/

#projects{
  overflow: hidden;
  justify-content: space-around;
  min-height: 100vh;

}

#projects > small{
  text-align: center;
}
#projects span > .enlace, #projects > small .enlace{
  color: var(--color-accion);
  text-decoration: revert;
}

#projects h2{
  margin-bottom: 50px;
}


.project, #contacto,#sobre-mi{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  align-items: center;
  width: 100%;
  gap: 5px;
  column-gap: 30px;
  padding-inline: 3%;
}
#projects .project{
  padding-inline: 1%;
}

#slider{
  display: flex;
  width: 400%;
  margin-left: -100%;
}

.slider-button{
  position: absolute;
  background: var(--color-segundario);
  font-size: 25px;
  border-radius: 100%;
  width: 20px;
  z-index: 1;
  cursor: pointer;
}
.button-left{
  left: calc(3% + 40px);
}
.button-right{
  right: 3%;
}

.project{
  position: relative;
  margin-top: -10vh;
}

.tablet,.pc,.tlf{
  position: absolute;
}
.pc{
  position: relative;
  width: 100%;
}

.tablet{
  width: 15%;
  bottom: 0;
  border-radius: 3%;
  border: solid #696969 2px;

}
.tablet img{
  border-radius: 2%;
  border-inline: solid var(--color-dominante) 4px;
  border-block: solid var(--color-dominante) 7px;
  margin-bottom: -4px;
}

.tlf{
  width: 7%;
  right: 12%;
  border-radius: 3%;
  bottom: 0;
  overflow: hidden;
  border: var(--color-dominante) solid 2px;
  z-index: 1;
}

.tlf img{
  margin-bottom: -5px;
}



/*  habilidades */

#habilidades .wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}

#habilidades{
  padding: 1rem 2rem;
}

#habilidades div{
  display: flex;
  justify-content: space-between;
  padding-inline: 3%;
  align-items: center;
}

/* animacion observer */

.observer{
  opacity:0;
  transform: translateY(150px) scale(0.5);
  transition: all 1.7s;
}

.observer-animacion{
  opacity: 1;
  transform: translateY(0px) scale(1);
}

/* personalizar scroll */

::-webkit-scrollbar{
  height: 8px;
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background: var(--color-accion);
}

/* en el camino */

h2{
  font-size: max(3vw, 30px);
}

img:not(.column img){
  width: 100%;
}

.space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.centrado{
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  font-style: none;
  text-decoration: none;
}

h3,.text-center{text-align: center}

h2{
  font-weight: 900;
  font-family: 'Raleway', sans-serif;
}

.mezcla-color-1{
  background: var(--color-dominante);
  color: var(--color-predominante);
}
.mezcla-color-2{
  background: var(--color-predominante);
  color: var(--color-dominante);
}

.column, #projects{
  display: flex;
  flex-direction: column;
}


.coqueta, textarea,label, button{
  font-family: 'Caveat', cursive;
  font-weight: 600;
}

@media only screen and (max-width: 915px){
  .img{
    margin-right: auto;
  }
}

@media only screen and (max-width: 600px){

  #welcome-section div a{
    font-size: 12px;
    padding-inline: 3px;
  }

  nav > div:first-child{
    position: fixed;
    width: 100%;
    background: var(--color-segundario);
    height: 60px;
    z-index: 999;
    top: 0;
    left: 0;
    padding-inline: 10%;
    border-bottom: solid 2px var(--color-dominante);
  }
  body{
    margin-left: 0;
  }
  
  #navbar{ 
    justify-content: space-around;
    left: -100%;
    transition: all 1s;
  }
  ::-webkit-scrollbar{
    display: none;
  }
}
